/*$black-1: #000;
$black-2: #282828;
$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: rgba(255, 255, 255, 0.8);
$blue-1: #3081cb;
$blue-2: #399ffe;
$blue-3: #357bcf;
$blue-4: #b6e7ff;
$yellow-1: #fdc927;
$yellow-2: #f0b700;
$yellow-3: #f8d258;
$orange-1: #fdc927;
$pink-1: rgba(255, 238, 225, 1);
$pink-2: #f00f55;
$pink-3: #ee3f6c;
$green-1: #12ab0f;
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);*/

/*$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$black-1: #000;
$black-2: #343232;
$grey-1: #777777;
$pink-1: #ff6ecb;
$pink-2: #ff9ce7;
$purple-1: #6e63b3;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #fce07f;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$blue-1: #399ffe;
$green-1: rgba(18, 171, 15, 1);
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);*/
$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$black-1: #000;
$black-2: #343232;
$grey-1: #777777;
$yellow-1: #FDC927;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4:#FFCD75;
$yellow-5: #ffd80d;
$yellow-6: #fce07f;
$blue-1: #399ffe;
$blue-2: #3081CB;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$green-1: rgba(18, 171, 15, 1);
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);