*, html {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  direction: rtl;
}
@media (max-width: 576px) {
  html {
    font-size: 2.75vw;
  }
}
@media (min-width: 2000px) {
  html {
    font-size: 1vw;
  }
}

body {
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: MochiyPopPOne-Regular;
  src: url("../fonts/MochiyPopPOne-Regular.ttf");
}
@font-face {
  font-family: LilitaOne-Regular;
  src: url("../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: NotoKufiArabic-SemiBold;
  src: url("../fonts/NotoKufiArabic-SemiBold.ttf");
}
@font-face {
  font-family: Khebrat-Musamim-Bold;
  src: url("../fonts/Khebrat-Musamim-Bold.ttf");
}
@font-face {
  font-family: DG-3asomy-Regular;
  src: url("../fonts/DG-3asomy-Regular.ttf");
}
/*$black-1: #000;
$black-2: #282828;
$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: rgba(255, 255, 255, 0.8);
$blue-1: #3081cb;
$blue-2: #399ffe;
$blue-3: #357bcf;
$blue-4: #b6e7ff;
$yellow-1: #fdc927;
$yellow-2: #f0b700;
$yellow-3: #f8d258;
$orange-1: #fdc927;
$pink-1: rgba(255, 238, 225, 1);
$pink-2: #f00f55;
$pink-3: #ee3f6c;
$green-1: #12ab0f;
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);*/
/*$white-1: #fff;
$white-2: rgba(255, 255, 255, 0.5);
$white-3: #f3f2f0;
$white-4: rgba(255, 255, 255, 0.75);
$black-1: #000;
$black-2: #343232;
$grey-1: #777777;
$pink-1: #ff6ecb;
$pink-2: #ff9ce7;
$purple-1: #6e63b3;
$yellow-1: #ffd80d;
$yellow-2: #f0b700;
$yellow-3: #febf47;
$yellow-4: #fce07f;
$oranger-1: #fdc927;
$orange-2: rgba(253, 238, 206, 0.2);
$orange-3: rgba(253, 238, 206, 0.5);
$blue-1: #399ffe;
$green-1: rgba(18, 171, 15, 1);
$shadow-1: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.4);
$overlay-1: rgba(0, 0, 0, 0.9);*/
.success-wrapper, .popup, .game .cardContainer, .overlay, .pop-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay, .pop-overlay {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup .phone::before, .popup .phone::after {
  content: "";
  width: 100%;
  border-bottom: 0.1875rem solid #000;
  position: absolute;
  left: 0;
}

.icon {
  height: 100%;
  max-height: 3rem;
  aspect-ratio: 1;
  position: relative;
  z-index: 1000;
  background: linear-gradient(to bottom, #febf47 2%, #f0b700);
  color: #fff;
  font-size: 1.25rem;
  border: 0.25rem solid #399ffe;
  border-radius: 27%;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}
.icon .fa-solid {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.icon.info {
  transform-style: preserve-3d;
}
.icon.info.show::before {
  opacity: 1;
  animation-name: visible;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.icon.info.hide::before {
  transform: translateZ(-1px) scaleX(0);
}
.icon.info::before {
  content: attr(text);
  height: 100%;
  padding: 0.25rem 1.5rem;
  position: absolute;
  right: 80%;
  transform: translateZ(-1px);
  opacity: 0;
  transform-origin: 100% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 90%;
  font-family: NotoKufiArabic-SemiBold;
  white-space: nowrap;
  border-radius: 0.75rem 0 0 0.75rem;
  transition: 0.5s;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.icon.pause {
  height: 100%;
  position: absolute;
  right: 0;
  top: calc(100vh - 3rem);
  transform: translateY(-100%);
  transition: 0.5s;
  visibility: hidden;
}
.icon.pause .fa-solid.hide {
  display: none;
}

.game {
  width: 100vw;
  height: 100vh;
  padding: 1.5rem;
  position: relative;
  overflow-y: auto;
  background-size: cover;
  background-position: 50% 100%;
  visibility: hidden;
  transform-origin: right top;
}
.game.hideGame {
  animation-name: hideGame;
  animation-timing-function: linear;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
.game .head {
  height: 15%;
}
.game .head .controls {
  height: 100%;
  position: relative;
}
.game .head .scoreWrapper {
  height: 90%;
  max-height: 3rem;
  visibility: hidden;
}
.game .head .scoreWrapper .scoreIcon {
  width: 4.5rem;
  aspect-ratio: 1;
  position: relative;
  z-index: 11;
}
.game .head .scoreWrapper .scoreItem {
  height: 100%;
  width: 15rem;
  padding: 0 0.75rem;
  margin-left: -2rem;
  position: relative;
  z-index: 10;
  background-color: #fff;
  border-radius: 0 0.625rem 0.625rem 0;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
.game .head .scoreWrapper .scoreItem::before {
  content: "";
  position: absolute;
  width: var(--width);
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: rgb(18, 171, 15);
  border-radius: inherit;
}
.game .head .scoreWrapper .scoreItem .score {
  position: relative;
  z-index: 10;
  font-family: LilitaOne-Regular;
  font-size: 1rem;
  color: #000;
}
.game .cardContainer {
  min-height: 36vh;
  height: -moz-fit-content;
  height: fit-content;
  transform-origin: right top;
}
.game .cardContainer.hide {
  animation-name: scaleDown;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}
.game .cardContainer .card-wrapper {
  width: 100vw;
  height: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
}
.game .cardContainer .card-wrapper .card {
  min-height: 36vh;
  padding: 1.75rem 1.5rem;
  position: relative;
  background-color: #fff;
  border: none;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
.game .cardContainer .card-wrapper .card .title {
  width: 100%;
  z-index: 100;
  font-family: MochiyPopPOne-Regular;
  font-size: 7.6vh;
  text-align: center;
}
@media (min-width: 992px) {
  .game .cardContainer .card-wrapper .card .title {
    width: 80%;
  }
}
.game .cardContainer .card-wrapper .card .title .word {
  position: relative;
}
.game .cardContainer .card-wrapper .card .title .word::before {
  content: attr(data-text);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: #fff;
  -webkit-text-stroke-width: 3vh;
  -webkit-text-stroke-color: #fff;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.game .cardContainer .card-wrapper .card .title .first-word {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -72%);
  color: #3081CB;
  font-size: 16.6vh;
  font-family: Khebrat-Musamim-Bold;
  text-transform: uppercase;
  filter: drop-shadow(0.3125rem 0.375rem 0 #FDC927);
}
.game .cardContainer .card-wrapper .card .title .first-word:first-letter {
  text-transform: capitalize;
}
.game .cardContainer .card-wrapper .card .title .second-line {
  margin: 2.75vh 0;
  color: #000;
  font-family: DG-3asomy-Regular;
}
.game .cardContainer .card-wrapper .play {
  width: 12vw;
  height: 15vh;
  top: 90%;
  left: 50%;
  transform: translateX(-50%) rotate(5deg);
  background-color: #3081CB;
  font-size: 11vh;
  border: 0.375rem solid #FFCD75 !important;
  outline: 0.2rem solid #3081CB;
  color: transparent;
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.game .cardContainer .card-wrapper .play .vectors .btn-vector {
  width: 40%;
  height: 35%;
}
.game .cardContainer .card-wrapper .play .vectors .btn-vector.top {
  right: 0;
  top: 0;
  transform: scaleX(-1);
}
.game .cardContainer .card-wrapper .play .vectors .btn-vector.bottom {
  width: 40%;
  height: 27%;
  bottom: 19%;
  left: -8%;
  transform: scaleX(-1);
}
.game .cardContainer .card-wrapper .play .vectors .fa-solid {
  background: linear-gradient(150deg, #ffd80d, #ffd80d, #fff);
  transform: scaleX(-1) rotate(-5deg);
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
  -webkit-background-clip: text;
}
@media (min-width: 768px) {
  .game .cardContainer .card-wrapper .play {
    width: 11rem;
  }
}
.game .body {
  height: 83%;
  visibility: hidden;
}
.game .body.show {
  visibility: visible;
}
.game .body .arrow {
  width: -moz-fit-content;
  width: fit-content;
  min-height: 12%;
  padding: 0.5rem;
  background-color: #fff;
  color: #000;
  font-size: 2.375rem;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
.game .body .arrow .fa-solid {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}
.game .body .arrow.disabled {
  color: #777777;
}
.game .body .arrow:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.game .body .body-wrapper {
  gap: 2vh;
}
@media (min-width: 768px) {
  .game .body .body-wrapper {
    gap: 1rem;
  }
}
.game .body .body-wrapper .match-cards {
  height: calc((100% - 2vh) * 0.5);
  gap: 2vh;
}
@media (min-width: 768px) {
  .game .body .body-wrapper .match-cards {
    height: calc((100% - 1rem) * 0.5);
    gap: 0.5rem;
  }
}
@media (min-width: 992px) {
  .game .body .body-wrapper .match-cards {
    gap: 1rem;
  }
}
.game .body .body-wrapper .match-cards .match-card.animate {
  animation-name: drop;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
}
.game .body .body-wrapper .match-cards .match-card .img-container {
  width: 100%;
  position: relative;
  transform: scaleX(-1);
}
@media (min-width: 992px) {
  .game .body .body-wrapper .match-cards .match-card .img-container {
    width: 85%;
  }
}
.game .body .body-wrapper .match-cards .match-card .img-container .match-img {
  visibility: hidden;
}
.game .body .body-wrapper .match-cards .match-card .img-container .match-img.show {
  animation-name: showImages;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.game .body .body-wrapper .match-cards .match-card .img-container .matched-img {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
  visibility: hidden;
}
.game .body .body-wrapper .cards {
  height: calc((100% - 2vh) * 0.5);
  gap: 2vh;
}
@media (min-width: 768px) {
  .game .body .body-wrapper .cards {
    height: calc((100% - 1rem) * 0.5);
    gap: 0.5rem;
  }
}
@media (min-width: 992px) {
  .game .body .body-wrapper .cards {
    gap: 1rem;
  }
}
.game .body .body-wrapper .cards .card {
  background-color: transparent;
}
.game .body .body-wrapper .cards .card .img-container {
  width: 100%;
  margin-top: -50%;
}
@media (min-width: 992px) {
  .game .body .body-wrapper .cards .card .img-container {
    width: 85%;
  }
}
.game .body .body-wrapper .cards .card .img-container .card-img {
  visibility: hidden;
  cursor: pointer;
}
.game .body .body-wrapper .cards .card .img-container .card-img.show {
  animation-name: showCards;
  animation-duration: 0.4s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}
.game .body .body-wrapper .cards .card .img-container .card-img.vibrate {
  animation-name: vibrate;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.pop-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
}

.popup {
  width: 70vw;
  height: 40vh;
  max-height: 90%;
  padding: 2rem;
  z-index: 100000;
  background-color: #fff;
  text-align: center;
  border-radius: 1rem;
  visibility: hidden;
}
.popup .phone {
  width: 2.5rem;
  height: 4.5rem;
  position: relative;
  flex-shrink: 0;
  border: 0.1875rem solid #000;
  border-radius: 0.3125rem;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: rotatePhone;
  animation-duration: 2s;
}
.popup .phone::after {
  top: 9%;
}
.popup .phone::before {
  bottom: 9%;
}
.popup .message {
  font-family: DG-3asomy-Regular;
  text-transform: uppercase;
  font-size: 3rem;
}

.success-wrapper {
  width: 60%;
  z-index: 999999;
  transition: 0.4s;
  visibility: hidden;
}
.success-wrapper.show {
  animation-name: successScaleUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.success-wrapper.hide {
  animation-name: successScaleDown;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@media (min-width: 768px) {
  .success-wrapper {
    width: 45%;
  }
}
@media (min-width: 992px) {
  .success-wrapper {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .success-wrapper {
    width: 30%;
  }
}
@media (min-width: 1400px) {
  .success-wrapper {
    width: 25%;
  }
}
.success-wrapper .success-card {
  height: 70vh;
  position: relative;
  border-top-right-radius: 0 !important;
  background: linear-gradient(180deg, #f3f2f0 33.31%, #febf47 117.3%);
}
@media (min-width: 992px) {
  .success-wrapper .success-card {
    height: 60vh;
  }
}
.success-wrapper .success-card .closeModal {
  width: 11%;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(40%, -36%);
  background-color: #fdc927;
  color: #fff;
  font-size: 115%;
}
.success-wrapper .success-card .closeModal.animate .fa-solid {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
.success-wrapper .success-card .card-wrapper {
  background: linear-gradient(0deg, #fce07f 10.87%, #fff 124.72%);
}
.success-wrapper .success-card .card-wrapper .img-wrapper {
  height: 40%;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: -3vh;
}
.success-wrapper .success-card .card-wrapper .img-wrapper img {
  transform: scaleX(-1);
}
.success-wrapper .success-card .card-wrapper .content-card {
  height: 60%;
}
.success-wrapper .success-card .card-wrapper .content-card .outer-card {
  height: 50%;
  background-color: #fdc927;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  transform: rotate(-1.5deg);
}
.success-wrapper .success-card .card-wrapper .content-card .outer-card .text-card {
  background: linear-gradient(to bottom, transparent 20%, rgba(253, 238, 206, 0.2) 20% 45%, transparent 45% 60%, rgba(253, 238, 206, 0.5) 60% 80%, transparent 80%);
  color: #000;
  font-size: 140%;
  text-transform: capitalize;
  font-family: DG-3asomy-Regular;
}
.success-wrapper .success-card .card-wrapper .content-card .outer-card .text-card .content {
  order: 2;
}
.success-wrapper .success-card .card-wrapper .content-card .outer-card .text-card .content .text {
  position: relative;
}
.success-wrapper .success-card .card-wrapper .content-card .outer-card .text-card .content .text::before {
  content: attr(text);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: #fff;
  font-size: inherit;
  -webkit-text-stroke-width: 0.15rem;
  -webkit-text-stroke-color: #fff;
}
.success-wrapper .success-card .card-wrapper .content-card .outer-card .text-card .score-icon-wrapper {
  width: 4rem;
  height: 80%;
  order: 1;
}
.success-wrapper .success-card .card-wrapper .content-card .arrows {
  padding: 0.75rem 1rem 0.5rem;
}
.success-wrapper .success-card .card-wrapper .content-card .arrows .arrow {
  aspect-ratio: 1;
  padding: 1vh 1.2vw;
  background-color: #fff;
  font-size: 4vh;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
.success-wrapper .success-card .card-wrapper .content-card .arrows .arrow.disabled {
  color: #777777;
}
.success-wrapper .success-card .card-wrapper .content-card .arrows .arrow .fa-solid {
  filter: drop-shadow(0 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
}

.overlay {
  visibility: hidden;
}
.overlay.show {
  visibility: visible;
}

/*animations*/
@keyframes visible {
  0% {
    transform: translateZ(-1px) scaleX(0);
  }
  100% {
    transform: translateZ(-1px) scaleX(1);
  }
}
@keyframes hideGame {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaleDown {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    top: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes showImages {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes showCards {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes vibrate {
  0% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes drop {
  0% {
    scale: 0;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes successScaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes successScaleDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.15);
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotatePhone {
  0%, 10% {
    transform: rotate(0deg);
  }
  40%, 60% {
    transform: rotate(90deg);
  }
  95%, 100% {
    transform: rotate(0deg);
  }
}/*# sourceMappingURL=main.css.map */